@font-face {
    font-family: nexaLight;
    src: url(NexaLight.otf);
}

body{
    font-family: nexaLight;
}


#contents {
    min-height: 77vh;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.map_container{
    position: relative;
    width: 100%;
    padding-bottom: 50%;
}
.map_container .map_canvas{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

.caption h4 {
    min-height: 40px;
}

.btn-white {
    color: whitesmoke !important;
}

.btn-white:hover, .btn-white:focus {
    color: black !important;
}

img.media-object {
    max-height: 64px;
}

.map-icon {
    width: 64px;
    height: 64px;
}

.page-header {
    margin: 20px 0 20px;
}

#searchForm {
    margin-bottom: 25px
}

.top-buffer-100 { 
    margin-top: 100px; 
}

.top-buffer-60 { 
    margin-top: 60px; 
}

.top-buffer-30 { 
    margin-top: 30px !important; 
}

footer img{
    max-height: 80px;
}

footer {
    color: grey;
    position: relative;
    bottom: 0;
    height:120px; 
    width: 100%;
    margin: 0 auto;
}

.ui-autocomplete {
    max-height: 60vh;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
    height: 60vh ;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-10 {
    margin: 10px;
}

.margin-20 {
    margin: 20px;
}

.grid {
    height: 100%;
}

.grid-item img {
    width: 100%;
}

.no-js #loader { display: none; }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
    position: absolute;
    left: 0px;
    top: 70px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    //background: url(../img/loading.gif) center no-repeat white;
    background: white;
}
.se-pre-con img {
    position: relative;
    top: 30%;
    left: 50%;
}

.img-book-thumb {
    height: 315px;
}

.mfp-img {
    min-height: 95vh;
}

.text-white {
    color: white;
}
.backg-alpha {
    background-color: rgba(0,0,0,0.4);
    border-radius: 40px;
}
.backg-alpha-light {
    background-color: rgba(220, 220, 220, 0.8);
}

.remove-image-book {
    position: absolute;
    cursor: pointer;
    font-size: 35px;
    right: 6px;
    top: -10px;
}